.card {
  position: relative;
  width: 100%;
  max-width: 700px;
  height: 325px;
  background: linear-gradient(
    135deg,
    rgba(255, 100, 0, 0.62),
    rgba(206, 10, 10, 0.62)
  );
  background-size: 200% auto;
  animation: gradientShift 5s linear infinite;
  border-radius: 12px;
  padding: 16px;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  backdrop-filter: blur(5px);
  font-family: "Poppins", sans-serif;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.content {
  position: relative;
  z-index: 1; /* Contenido por encima del fondo */
}

.card p {
  font-size: 1rem;
  color: var(--description-color);
}

.footer {
  margin-top: 8px;
  text-align: center;
}

.footer a {
  color: var(--description-color);
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}

/* Responsividad */
@media (max-width: 480px) {
  .card {
    height: auto;
    padding: 12px;
  }
  .card p {
    font-size: 0.9rem;
  }
  .footer {
    margin-top: 5px;
  }
  .footer a {
    font-size: 0.9rem;
  }
  .rating {
    font-size: 0.9rem;
  }
}
