:root {
  --background-dark: #000;
  --background-light: #fff;
  --text-dark: white;
  --text-light: black;
  --accent-color: #2563eb;
  --secondary-text: #d1d5db;

  --background: var(--background-light);
  --foreground: var(--text-light);
  --navbar-scrolled-bg: rgba(255, 255, 255, 0.6);
  --project-card-bg: rgba(255, 255, 255, 0.1);

  /* Variables para MouseEffect en modo light */
  --mouse-effect-color1: rgba(206, 10, 10, 0.62); /* rojo */
  --mouse-effect-color2: rgba(0, 0, 255, 0.62); /* azul */
  --mouse-effect-color3: rgba(128, 0, 128, 0.62); /* morado */
}

html.dark {
  --background: var(--background-dark);
  --foreground: var(--text-dark);
  --navbar-scrolled-bg: rgba(0, 0, 0, 0.6);
  --project-card-bg: rgba(0, 0, 0, 0.1);

  --primary-bg: #1a1a1a;
  --secondary-bg: #2a2a2a;
  --mobile-menu-bg: #121212;
  --accent-color: #d4af37;
  --secondary-bg: #ececec;

  /* Variables para MouseEffect en modo dark */
  --mouse-effect-color1: rgba(212, 175, 55, 0.62); /* dorado */
  --mouse-effect-color2: rgba(255, 100, 0, 0.62); /* naranja */
  --mouse-effect-color3: rgba(128, 0, 128, 0.62);
}

html.dark .hero {
  background-color: rgba(0, 0, 0, 0.85);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
  overflow-x: hidden; /* Previene scroll horizontal si algún elemento se sale */
}

/* Estructura en tres capas */

/* Contenedor principal: se utiliza para agrupar las capas y ocultar desbordamientos */
.layoutBody {
  position: relative;
  overflow-x: hidden; /* Oculta scroll horizontal, pero permite el vertical */
}

/* Capa de fondo: se ubica detrás de todo */
.layerBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background-color: var(--background);
}

/* Capa intermedia: para efectos interactivos como MouseEffect */
.layerMouseEffect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  pointer-events: none; /* No bloquea la interacción con los elementos de la capa superior */
}

/* Capa superior: contiene el contenido principal y el Footer */
.layerContent {
  position: relative;
  z-index: 20;
}

.layerFooter {
  position: relative;
  z-index: 20;
}

/* Clase adicional para efectos de fondo (por ejemplo, el efecto interactivo del MouseEffect) */
.backgroundEffect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}
