.container {
  position: relative;
  overflow: hidden;
}

.desktopEffect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.sphereContainer {
  position: fixed;
  top: 40%;
  left: 29%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.sphere {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  transition: background-color 0.3s ease;
  animation-duration: 12s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  width: 40vw;
  height: 40vw;
}

/* Animaciones */

/* Esfera 1 */
@keyframes sphereOnePath {
  0% {
    transform: translate(14.14vw, 14.14vw);
  }
  33% {
    transform: translate(-20vw, 20vw);
  }
  66% {
    transform: translate(0, 20vw);
  }
  100% {
    transform: translate(14.14vw, 14.14vw);
  }
}

/* Esfera 2 */
@keyframes sphereTwoPath {
  0% {
    transform: translate(-14.14vw, 14.14vw);
  }
  33% {
    transform: translate(20vw, 20vw);
  }
  66% {
    transform: translate(20vw, 0);
  }
  100% {
    transform: translate(-14.14vw, 14.14vw);
  }
}

/* Esfera 3 */
@keyframes sphereThreePath {
  0% {
    transform: translate(-14.14vw, -14.14vw);
  }
  33% {
    transform: translate(20vw, -20vw);
  }
  66% {
    transform: translate(0, -20vw);
  }
  100% {
    transform: translate(-14.14vw, -14.14vw);
  }
}

/* Esfera 4 */
@keyframes sphereFourPath {
  0% {
    transform: translate(14.14vw, -14.14vw);
  }
  33% {
    transform: translate(-20vw, -20vw);
  }
  66% {
    transform: translate(-20vw, 0);
  }
  100% {
    transform: translate(14.14vw, -14.14vw);
  }
}

/* Asignar animaciones */
.sphereOne {
  animation-name: sphereOnePath;
}

.sphereTwo {
  animation-name: sphereTwoPath;
}

.sphereThree {
  animation-name: sphereThreePath;
}

.sphereFour {
  animation-name: sphereFourPath;
}
