.navbar {
  position: fixed;
  top: 10px; /* Margen superior para separarlo un poco */
  left: 50%;
  transform: translateX(-50%);
  width: 90%; /* Reducimos el ancho para que se aprecie el borde redondeado */
  max-width: 1200px; /* Mantiene un ancho máximo */
  height: 60px;
  background: transparent;
  transition: background 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
  display: flex;
  align-items: center;
  z-index: 1001;
  border-radius: 50px; /* Aumentamos el redondeo para que sea más notorio */
  padding: 0.3rem 0.8rem; /* Igual que el logo, para dar consistencia */
  backdrop-filter: blur(8px); /* Mantiene el mismo efecto de difuminado */
}

.scrolled {
  background: var(--navbar-scrolled-bg);
  backdrop-filter: blur(8px);
}

.navContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

/* Logo reducido y estético */
.logo {
  font-size: 1.2rem; /* Tamaño de fuente reducido */
  font-weight: bold;
  color: var(--foreground);
  transition: color 0.3s ease-in-out;
  padding: 0.3rem 0.8rem; /* Espaciado interno ajustado */
  border: 1px solid var(--foreground); /* Borde más sutil */
  border-radius: 20px; /* Bordes redondeados */
  background: transparent;
}

.menuOpen .themeToggle,
.menuOpen .floatingButton {
  display: none !important;
}

.menuWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.desktopMenuButton {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: var(--foreground);
  transition: color 0.3s ease-in-out;
}

.mobileMenuButton {
  display: none;
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--foreground);
  transition: color 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .desktopMenuButton {
    display: none;
  }
  .mobileMenuButton {
    display: block;
  }
  .logo {
    font-size: 1.2rem; /* Ajuste adicional en móviles */
    padding: 0.25rem 0.6rem;
  }
}
