.projectsSection {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 60px 20px;
  background: var(--navbar-scrolled-bg); /* Mismo fondo del navbar */
  backdrop-filter: blur(8px); /* Mantiene el fondo transparente */
}

.title {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--foreground);
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

/* Contenedor de las tarjetas */
.cardsContainer {
  position: relative;
  z-index: 2;
}

/* Diseño de la grilla */
.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 24px;
  justify-content: center;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
  .projectsGrid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
