.servicesSection {
  position: relative;
  padding: 6rem 2rem; /* Igual que .projectsSection */
  background: var(--navbar-scrolled-bg);
  backdrop-filter: blur(8px);
  color: var(--foreground);
  text-align: left; /* Alineado a la izquierda */
  overflow: hidden;
  z-index: 5;
}

.servicesContent {
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
}

.heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--foreground);
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  text-align: left;
  width: 100%;
  padding-left: 0.2rem; /* Ajusta según necesites */
}

.servicesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 80px; /* Aumentado de 30px a 40px */
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
}

@media (max-width: 768px) {
  .heading {
    font-size: 2rem;
  }
  .servicesContainer {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
