.servicesSection {
  position: relative;
  padding: 6rem 2rem;
  background: var(--navbar-scrolled-bg);
  backdrop-filter: blur(8px);
  color: var(--foreground);
  text-align: left;
  overflow: hidden;
  z-index: 5;
}

.servicesContent {
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
}

.heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--foreground);
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  text-align: left;
  width: 100%;
  max-width: 1200px;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid var(--foreground);
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.servicesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Ajustado */
  gap: 50px; /* Más espacio entre tarjetas */
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  justify-content: center;
}

@media (max-width: 768px) {
  .heading {
    font-size: 2rem;
    border-radius: 20px;
  }
  .servicesContainer {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
