.workedSection {
  position: relative;
  padding: 6rem 2rem;
  background: var(--navbar-scrolled-bg);
  backdrop-filter: blur(8px);
  color: var(--foreground);
  text-align: left;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: visible;
  z-index: 5;
}

.workedTitle {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: var(--foreground);
  margin: 0 auto 1rem auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  max-width: fit-content;
  padding: 0.5rem 1rem;
  background-color: var(--global-title-bg);
  border: 2px solid var(--foreground);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.workedSubTitle {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: var(--foreground);
  text-align: center;
  margin: 1.5rem 0 1rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.workedSubTitle::after {
  content: "";
  display: block;
  margin: 0.5rem auto 0;
  width: 40px;
  height: 2px;
  background-color: var(--foreground);
}

@media (max-width: 768px) {
  .workedSection {
    height: auto;
    padding: 1.5rem;
  }
}

.workedLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100%;
  flex: 1;
  align-self: stretch;
  align-items: stretch;
}

@media (max-width: 768px) {
  .workedLayout {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.columnWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

/* Sección de igual tamaño para cada componente */
.equalSection {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  overflow: visible;
}

@media (max-width: 768px) {
  .equalSection {
    min-height: auto;
    padding: 1rem;
  }
}
