.workedSection {
  position: relative;
  padding: 2rem;
  background: var(--navbar-scrolled-bg);
  backdrop-filter: blur(8px);
  color: var(--foreground);
  text-align: left;
  overflow: hidden;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.workedLayout {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  gap: 2rem;
  width: 100%;
}

@media (max-width: 768px) {
  .workedLayout {
    grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    gap: 1rem;
  }
}
