.projectsSection {
  position: relative;
  padding: 6rem 2rem;
  background: var(--navbar-scrolled-bg);
  backdrop-filter: blur(8px);
  color: var(--foreground);
  text-align: left;
  overflow: hidden;
  z-index: 5;
}

.projectsContent {
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--foreground);
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  text-align: left;
  width: fit-content; /* Ajuste del ancho para que se adapte al contenido */
  padding: 0.5rem 1rem; /* Espacio interno */
  background-color: rgba(255, 255, 255, 0.2); /* Fondo semitransparente */
  border: 2px solid var(--foreground); /* Borde con el color del foreground */
  border-radius: 15px; /* Bordes redondeados */
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 2rem;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* Aumenta el gap */
  gap: 80px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
  .projectsGrid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
