.projectCard {
  background: var(--project-card-bg);
  backdrop-filter: blur(15px);
  border-radius: 12px;
  padding: 32px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 500px;
  margin: 40px; /* Aumenta el margen en todos los lados */
  position: relative;
}

.projectCard:hover {
  transform: scale(
    1.03
  ); /* Escala un poco menor para evitar solapamientos excesivos */
  box-shadow: 0 12px 24px var(--hover-glow);
  z-index: 10;
}

html.light {
  --hover-glow: rgba(255, 140, 0, 0.7); /* Naranja para modo claro */
}

html.dark {
  --hover-glow: rgba(0, 140, 255, 0.7); /* Azul para modo oscuro */
}

.projectTitle {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--foreground);
  margin-bottom: 12px;
}

.description {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 15px;
}

.projectLinkContainer {
  margin-top: 15px;
}

.projectLink {
  display: inline-block;
  padding: 8px 12px;
  background: var(--project-card-bg);
  color: var(--foreground);
  border-radius: 6px;
  transition: background 0.3s ease, transform 0.2s;
}

.projectLink:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

/* Tecnologías usadas */
.techContainer {
  margin-top: 12px;
}

.techTitle {
  font-weight: bold;
  color: var(--foreground);
  display: block;
  margin-bottom: 8px;
}

.techList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.techItem {
  background: var(--secondary-bg);
  padding: 6px 10px;
  border-radius: 8px;
  font-weight: 600;
  color: var(--accent-color);
}
