.phraseContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.phrase {
  font-size: 1.5rem;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}
