/* src/styles/animations/Greeting.module.css */
.fullscreenOverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  overflow: hidden;
}

.greeting {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  /* Animación opcional de entrada */
  animation: fadeInOut 0.4s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
  }
}
