.skillsSection {
  position: relative;
  padding: 6rem 2rem;
  background: var(--navbar-scrolled-bg);
  backdrop-filter: blur(8px);
  color: var(--foreground);
  overflow: hidden;
  z-index: 1;
}

.backgroundEffect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.skillsLayout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.skillsList {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  height: 250px;
  box-sizing: border-box;
}

.frontend {
  background-color: rgba(160, 160, 160, 0.8);
  color: white;
}

.backend {
  background-color: rgba(199, 226, 154, 0.8);
  color: white;
}

.skillCarouselContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  height: 250px;
}

.skillTag {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  transition: transform 0.2s ease, background-color 0.2s ease;
  border: 1px solid var(--accent-color);
}

.skillTag:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

/* Responsividad */
@media (max-width: 768px) {
  .skillsLayout {
    flex-direction: column;
    align-items: center;
  }
  .skillsList {
    align-items: center;
  }
}

/* Asegurar mismo ancho en mobile */
@media (max-width: 480px) {
  .skillsList,
  .skillCarouselContainer {
    max-width: 280px;
    height: 200px;
    padding: 0.8rem;
  }
}
