.arrowContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 10px;
  gap: 4px;
  font-family: "Poppins", sans-serif;
  user-select: none;
  position: relative;
  margin-bottom: 16px; /* ⬅️ agrega este margen */
}

.arrowText {
  display: flex;
  align-items: center;
  color: var(--foreground);
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  gap: 6px; /* espacio entre texto y flecha */
}

.iconArrow {
  color: #f39c12;
  font-size: 24px;
  transform: rotate(45deg); /* más hacia abajo si querés enfatizar */
}

@media (max-width: 480px) {
  .arrowText {
    font-size: 0.8rem;
  }
  .iconArrow {
    font-size: 20px;
  }
}
