.verticalCarouselWrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
  /* Altura fija igual a la de la card (ajusta este valor si cambia el tamaño de la card) */
  height: 392px;
  padding: 20px 0;
}

.carousel {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.cardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
}

.itemVertical {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}
