.carousel {
  min-height: 300px; /* O ajusta según el tamaño de las cards */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centrado vertical */
  overflow: hidden;
  position: relative;
}

.cardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
}

.itemVertical {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}
