.verticalCarouselWrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 392px; /* Mantiene altura fija en pantallas grandes */
  padding: 20px 0;
}

.carousel {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.cardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
}

.itemVertical {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

/* Media query para dispositivos con pantallas pequeñas */
@media (max-width: 480px) {
  .verticalCarouselWrapper {
    height: auto; /* Se ajusta dinámicamente en móviles */
    padding: 10px 0;
  }

  .itemVertical {
    height: auto; /* Permite que cada ítem se ajuste al contenido */
  }
}
