.servicesSection {
  position: relative;
  /* Ajusta el padding para controlar la distancia a los bordes */
  padding: 2rem 2rem;
  background: var(--navbar-scrolled-bg);
  backdrop-filter: blur(8px);
  color: var(--foreground);
  text-align: left;
  overflow: hidden;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea el contenido a la izquierda */
}

.servicesContent {
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
}

.servicesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Ajusta el espacio entre columnas y filas por separado */
  column-gap: 40px; /* Espacio horizontal entre columnas */
  row-gap: 20px; /* Espacio vertical entre filas */

  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: start;
}

@media (max-width: 768px) {
  .servicesContainer {
    grid-template-columns: 1fr;
    column-gap: 20px; /* Ajusta también para pantallas pequeñas */
    row-gap: 20px;
  }
}
