.mediaContainer {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.images {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  width: 300px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.video {
  width: 500px;
  max-width: 100%;
  border-radius: 12px;
}
