.pageContainer {
  padding: 2rem;
  max-width: 900px;
  margin: 100px auto 0;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 1rem;
}

.pageTitle {
  text-align: center;
  font-size: 1.8rem;
}
